.members{
    font-size: 18px;
}

.member{
    font-size: 18px;
}

.chairman{
    font-size: 18px;
}
.vice-chairman{
    font-size: 18px;
}
.officer{
    font-size: 18px;
}

.publicity{
    font-size: 18px;
}
.event{
    font-size: 18px;
}
.creation{
    font-size: 18px;
}
.tech{
    font-size: 18px;
}
.routine{
    font-size: 18px;
}