*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei', 'Segoe UI', sans-serif;
}

html{
    font-size: 16px;
}

.normal{
    display: inline !important;
    text-align: inherit !important;
    max-width: none !important;
    word-wrap: normal !important;
    color: #6a0dad !important;
    white-space: normal !important;
    font-weight: normal !important;
    line-height: 1.5 !important;
    text-indent: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}
.nohoverline{
    text-decoration: none !important;
}

@media (max-width: 720px){
    :root {
    --main-width: 720;
    }
    html{
        font-size: calc(16 / var(--main-width) * 100vw);
    }
}